@page
@model MyApp.Namespace.ListarModel
@{
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Gestion de Migrantes</h2>
</div>
<br>
<div class="row">
    <div class="col-md-7">
        
    </div>
    <div class="col-md-5 contenedor-btn-agregar">
        <a class="btn btn-success boton-agregar" asp-page="./RegistroMigrante">
            <i class="fas fa-user-plus"></i>
            <span class="tooltip">Agregar Migrante</span>
        </a>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <table class="table table-hover">
        <tr>
            <th>Nombre completo</th>
            <th>Documento</th>
            <th>Tipo Documento</th>
            <th>Pais de Origen</th>
            <th>Fecha Nacimiento</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var Mig in Model.Migrantes)
        {
            <tr>
                <td>@Mig.nombre @Mig.apellidos</td>
                <td>@Mig.numeroDocumento</td>
                <td>@Mig.tipoIdentificacion</td>
                <td>@Mig.paisOrigen</td>
                <td>@Mig.fechaNacimiento</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./Detalles" asp-route-Id="@Mig.id">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning table-btn" asp-page="./ActualizaMigrante" asp-route-Id="@Mig.id">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminar" asp-route-Id="@Mig.id">
                        <i class="fas fa-user-times"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <br>
    <h5>Existen @Model.Migrantes.Count() Migrantes en la base de datos</h5>
</div>
