@page
@model MyApp.Namespace.ListarGrupoModel
@{
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Gestion Grupo Familiar de @Model.Migrante.nombre</h2>
</div>
<br>
<div class="row">
    <div class="col-md-7">
        
    </div>
    <div class="col-md-5 contenedor-btn-agregar">
        <a class="btn btn-success boton-agregar" asp-page="./BuscarFamiliares" asp-route-Id="@Model.Migrante.id" asp-route-IdGrupo="@Model.Migrante.GrupoFamiliarId">
            <i class="fas fa-user-plus"></i>
            <span class="tooltip">Buscar Familiares</span>
        </a>
    </div>
</div>
<br>
<br>
<div class="text-center" style="padding-top: 2%;">
    <h2>Familiares</h2>
</div>
<div class="text-center">
    <table class="table table-hover">
        <tr>
            <th>Nombre completo</th>
            <th>Documento</th>
            <th>Tipo Documento</th>
            <th>Pais de Origen</th>
            <th>Fecha Nacimiento</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var Mig in Model.Parientes)
        {
            <tr>
                <td>@Mig.nombre @Mig.apellidos</td>
                <td>@Mig.numeroDocumento</td>
                <td>@Mig.tipoIdentificacion</td>
                <td>@Mig.paisOrigen</td>
                <td>@Mig.fechaNacimiento</td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminar" asp-route-Id="@Mig.id">
                        <i class="fas fa-user-times"></i>
                    </a>
                </td>
                
            </tr>
        }
    </table>
    <br>
    <h5>Existen @Model.Parientes.Count() Fammiliares en su Grupo Familiar</h5>
</div>
<div class="text-center" style="padding-top: 2%;">
    <h2>Amigos</h2>
</div>
<div class="text-center">
    <table class="table table-hover">
        <tr>
            <th>Nombre completo</th>
            <th>Documento</th>
            <th>Tipo Documento</th>
            <th>Pais de Origen</th>
            <th>Fecha Nacimiento</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var Mig in Model.Amigos)
        {
            <tr>
                <td>@Mig.nombre @Mig.apellidos</td>
                <td>@Mig.numeroDocumento</td>
                <td>@Mig.tipoIdentificacion</td>
                <td>@Mig.paisOrigen</td>
                <td>@Mig.fechaNacimiento</td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminar" asp-route-Id="@Mig.id">
                        <i class="fas fa-user-times"></i>
                    </a>
                </td>
                
            </tr>
        }
    </table>
    <br>
    <h5>Existen @Model.Amigos.Count() Fammiliares en su Grupo Familiar</h5>
</div>